@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Cormorant+Garamond:wght@500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#FAFAF8;
    color:#111;
    font-family:"Inter",sans-serif;

}

.hero{

    width:min(1000px,90%);
    margin:160px auto;

}

.eyebrow{

    letter-spacing:.35em;
    text-transform:uppercase;
    font-size:.8rem;
    color:#888;

    margin-bottom:30px;

}

h1{

    font-family:"Cormorant Garamond",serif;
    font-size:6rem;
    line-height:.95;
    margin-bottom:20px;

}

h2{

    font-weight:400;
    font-size:2rem;
    color:#444;

    margin-bottom:40px;

}

.intro{

    max-width:600px;

    font-size:1.25rem;
    line-height:1.8;

    color:#666;

    margin-bottom:60px;

}

.buttons{

    display:flex;
    gap:18px;

}

.buttons a{

    text-decoration:none;

    color:#111;

    border:1px solid #111;

    padding:15px 28px;

    transition:.3s;

}

.buttons a:hover{

    background:#111;
    color:white;

}
